
<!DOCTYPE html>
<html>
    <head>
        <title>Insurance</title>
        <!link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        
        <div class="main">
            <div class="insurance">
                <h2>Calculate insurance charges Here</h2>
                
                <form action="/predict" method="POST">
                    <label>age</label>
                    <br>
                    <input type="text" name="age" id="age" placeholder="Enter your age here">
                    <br><br>

                    <label>sex :</label>
                    <br>
                    &nbsp;&nbsp;&nbsp;
                    <input type="radio" value='male' name="sex" id="sex">
                    &nbsp;
                    <spam id="male">male</spam>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" value='female' name="sex" id="sex">
                    &nbsp;
                    <spam id="female">female</spam>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <br><br>

                    <label>bmi</label>
                    <br>
                    <input type="text" name="bmi" id="bmi" placeholder="Enter your bmi here">
                    <br><br>

                    <label for="children">children(between 0 and 5):</label>
                    <br>
                    <input type="text" id="children" name="children" min="0" max="5">
                    <br><br>


                    <label>Smoker :</label>
                    <br>
                    &nbsp;&nbsp;&nbsp;
                    <label>yes</label>&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" value='yes' name="smoker" id="smoker">
                    &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>no</label>&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" value='no' name="smoker" id="smoker">
                    &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <br><br>
                
                    <label>Select region</label>
                    &nbsp;&nbsp;&nbsp;
                    <select id='region' name='region'>
                        <option value="['1']" id="0" selected disabled hidden>select here</option>
                        <option value = "southwest" >southwest</option>
                        <option value = "southeast" >southeast</option>
                        <option value = "northwest" >northwest</option>  
                        <option value = "northeast" >northeast</option>
                    </select>
                    <br><br>

                    <button type="submit">Calculate insurance charges</button>
                    <br><br>
                    {{charges_result}}
                </form>
            </div>
        </div>
    </body>
</html>